body {
    overflow-x: hidden;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

/* menu */
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

/* imagenes */
.carousel-inner {
    max-height: 35rem;
}

/* turismo costa rica */
@media screen and (max-width: 768px) {
    .turismo-cr {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .turismo-cr {
        text-align: center;
    }
}

/* contacto */


/* contacto formulario */
#contenedor-form { 
    margin-top: 80px;
    padding: 30px;
    background-color: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
    box-shadow: 7px 13px 37px #3f3f3f;
}

@media screen and (max-width: 992px) {
    #contenedor-form {
        width: 75%;
    }
}

/* footer */
footer {
    background-color: #000000;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size:  26px;
    padding: 0 15px;
    color: #f3f3f3;
    text-align: center;
}