@import "variables";

/* footer */
footer {
    background-color: $color-cinco;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
        p {
            color: $color-tres;
            text-align: center;
                &:hover {
                    color: $color-hover;
                }
        }
}


#iconos i {
    font-size:  26px;
    padding: 0 15px;
    color: $color-tres;
    text-align: center;
}