/* imagenes */
.carousel-inner {
    max-height: 35rem;
}

/* turismo costa rica */
@media screen and (max-width: 768px) {
    .turismo-cr {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .turismo-cr {
        text-align: center;
    }
}