@import "variables";

/*nosotros*/

.grid_nosotros {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-template-areas: 
        "nosotros nosotros"
        "empresa empresa"
        "img-mono img-mono2"
        "lorem lorem"
        "img-luces img-luces";
}

.nosotros {
    grid-area: nosotros;
}

.empresa {
    grid-area: empresa;
}

.img-mono {
    grid-area: img-mono;
}

@media screen and (max-width: 767px) {
    .img-mono img {
        width: 170px;
        height: 170px;
    }
}

@media screen and (min-width: 768px) {
    .img-mono img {
        width: 350px;
        height: 350px;
    }
}


.img-mono2 {
    grid-area: img-mono2;
}

@media screen and (max-width: 767px) {
    .img-mono2 img {
        width: 170px;
        height: 170px;
    }
}

@media screen and (min-width: 768px) {
    .img-mono2 img {
        width: 350px;
        height: 350px;
    }
}

.lorem {
    grid-area: lorem;
}

.img-luces {
    grid-area: img-luces;
}

