@import "variables";

body {
    overflow-x: hidden;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    background-color: $color-dos;
}

/* menu */
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: $color-cuatro;
}

/*map*/
$fontSize: (
    h1: 38px,
    h2: 29px,
    h3: 20px,
    h4: 18px,
    p: 18px
);

@each $tag, $size in $fontSize {
    #{$tag} {
        font-size: $size;
    }
}


@import "index";
@import "nosotros";
@import "concurso";
@import "contacto";
@import "footer";